


// SECTION-3: HOW IT WORKS?

#section-3 {
    background: transparent;
    text-align: center;
    @include sectionFeatures();



    .showcase-video {
        img {
            margin-bottom: 2.5rem;
            margin-top: 1rem;
            width: 50%;

            @include desktop {
                margin-bottom: 4rem;
            }
        }
    }

    .card-steps {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 1rem 0 0 0;
        width: 75%;

        @include tablet {
            flex-direction: row;
            justify-content: space-around;
        }

        .single-card {
            margin-bottom: 1rem;
            text-align: center;

            @include desktop {
                margin-bottom: 1.5rem;
                width: 25%;
            }

            img {
                margin-bottom: .7rem;
                max-width: 80px;

                @include tablet {
                    max-width: 100px;
                }
            }

            h5 {
                text-transform: uppercase;
            }

            p {
                text-align: center;
            }
        }

        i {
            display: none;
            margin-top: 3rem;

            @include tablet {
                display: block;
            }
        }

    }
}


