// SECTION-4:  BENEFITS

#benefits {
    @include sectionFeatures();
    background: transparent;
    text-align: center;

    .container {
        align-items: center;
        display: flex;
        flex-direction: column;

        @include desktop {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .benefit {
            padding: .4rem;
            width: 100%;

            @include desktop {
                margin-bottom: 3.5rem;
                padding: 1rem;
            }
        }

        h3 {
            order: 2;

            @include desktop {
                order: 1;
                text-align: right;
            }
        }

        img {
            margin-bottom: .7rem;
            max-height: 230px;
            max-width: 230px;
            order: 1;

            @include desktop {
                order: 2;
            }
        }

        p {
            order: 3;
        }
    }
}
