

// SECTION-5:  FEATURES

#features {

    @include sectionFeatures();
    // background-color: coral;

    .feat-container {
        @include desktop{
            display: flex;
        }

        @include desktop {
            flex: 1;
            // width: 30%;
        }


        .features-left {

            @include desktop {
                flex: 2;
                margin-top: 2rem;
            }

            .feat-list {
                display: block;

                @include tablet {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                }
                @include desktop {
                    padding-left: 2rem;
                }
            }
        }

        .features-right {

            @include desktop {
                background-image: url(../images/backgrounds/screen.png);
                background-position: center left;
                background-repeat: no-repeat;
                background-size: cover;
                flex: 1;
                margin: 5rem 0 0 0;
                z-index: -1;
            }
        }
    }
}




.single-feat {
    margin: 2rem 0 3rem 0;
    padding: 0 2rem;
    text-align: center;

    @include tablet {
        margin: .5rem 0;
        width: 40%;
    }

    @include desktop {
        display: flex;
        padding-right: 0;
        width: 50%;
    }

    @include wide-desktop {
        width: 45%;
    }

    .feat.img {
        img {
            width: 80px;
            @include tablet {
                width: 100px;
            }

            @include desktop {
                flex: 1;
                margin-right: .5rem;
                margin-top: 1rem;
                max-height: 50px;
                max-width: 50px;
            }
        }
    }

    .feat-text {
        @include desktop {
            padding-left: 2rem;
        }

        h5 {
            padding-bottom: 0;
            text-align: left;
        }
        
    }
}
