

// SECTION-6:  TESTIMONIALS
#section-6 {

    @include sectionFeatures();

    h1 {

        @include desktop {
            padding-bottom: 1rem;
        }
    }

    .carousel-inner {
        display: block;
        margin: 2rem auto;
        max-width: 900px;

        @include mobile {
            display: flex;
            flex-wrap: wrap;
        }

        .carousel-item {
            padding: 0 .5rem;

            .container-testimonials {
                display: flex;
                flex-direction: column;
                max-width: 850px;

                @include mobile {
                    flex-direction: row;
                }

                .carousel-caption {
                    flex: 4;
                    height: auto;
                    margin: 0 auto;
                    max-width: 400px;
                    min-width: 300px;
                    order: 2;
                    padding: 1.5rem 3.6rem;
                    position: static;

                    @include mobile {
                        order: 1;
                        padding: 1.6rem 0 1.6rem 1.6rem;
                    }
                    @include tablet {
                        flex: 3;
                        max-width: 600px;
                        padding: 3.3rem 1rem 1rem 4rem;
                    }

                    @include desktop {
                        flex: 5;
                    }

                    .testimonials-quote {
                        @include mobile {
                            text-align: left;
                        }

                        i {
                            color: color(mygray);
                            font-size: 2rem;
                            margin-right: .5rem;
                            @include tablet {
                                font-size: 4rem;
                            }
                            @include desktop {
                                font-size: 4.5rem;
                            }
                        }

                        blockquote {
                            color: color(myblue);
                            display: inline;
                            font-style: italic;
                            @include tablet {
                                display: block;
                                padding-top: 0;
                            }
                        }
                    }

                    .testimonials-bottom {
                        @include mobile {
                            display: flex;
                            justify-content: space-between;
                            padding-top: 1rem;
                        }

                        @include tablet {
                            padding-top: .5rem;
                        }

                        .quote-author {
                            h4 {
                                color: color(myblue);
                            }

                            p {
                                color: color(mymidblue);
                            }
                        }

                        .carousel-commands {
                            display: none;
                            padding-right: .8rem;

                            @include tablet {
                                display: flex;
                                justify-content: space-around;
                            }

                            @include desktop {
                                display: flex;
                                justify-content: space-around;
                            }

                            .carousel-control-prev,
                            .carousel-control-next  {
                                // top: 0;
                                // bottom: 0;
                                // z-index: 1;
                                // display: flex;
                                // align-items: center;
                                // justify-content: center;
                                // width: 15%;
                                opacity: 1;
                                position: static;
                                text-align: center;
                                transition: opacity .15s ease;

                                &:hover {
                                opacity: 1;
                                outline: 0;
                                // text-decoration: none;
                                }

                                i {
                                    border: 1px solid color(myblue);
                                    color: color(myblue);
                                    font-size: 1.5rem;
                                    padding: .5rem .8rem;

                                    @include tablet {
                                        font-size: 1.3rem;
                                        padding: .4rem .5rem .1rem .5rem;
                                    }
                                    @include desktop {
                                        font-size: 1.5rem;
                                        padding: .5rem .8rem;
                                    }
                                }
                            }
                        }
                    }
                }

                .testimonials-right {
                    margin: 0;
                    order: 1;
                    text-align: center;
                    @include mobile {
                        flex: 3;
                        order: 2;
                    }
                    @include tablet {
                        flex: 3;
                    }
                    @include desktop {
                        flex: 3;
                    }

                    img {
                        height: auto;
                        max-width: 300px;
                        @include mobile {
                            position: relative;
                            top: 40px;
                            width: 90%;
                        }
                        @include tablet {
                            margin-right: 3rem;
                            max-width: 300px;
                            top: 25%;
                            width: 80%;
                        }

                        @include desktop {
                            // max-width: 350px;
                            top: 29%;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}


