

// SECTION-7:  News

#section-news {

    @include sectionFeatures();

    .news-cards {
        margin: 1.5rem auto;
        padding: 0 3rem;
        @include tablet {
            display: flex;
            justify-content: space-evenly;
            padding: 0 1rem;
        }
    }
}


.single-news {
    padding-top: 1rem;
    text-align: center;

    @include mobile {
        padding: 1rem 3rem;
    }
    @include tablet {
        padding: 0 1rem;
        width: 30%;
    }

    img {
        margin: 0 auto;
        width: 35%;
        @include tablet {
            width: 60%;
        }
        @include desktop {
            width: 50%;
        }
    }

    p {
        font-style: italic;
        text-align: center;
    }
}
