//  SECTION-8:  CHOOSE YOUR PLAN 

#section-plans {

    @include sectionFeatures();

    .card {
        background-color: #fff;
        border: 2px solid  color(myblue);
        border-radius: 0;
        padding-bottom: 2.5rem;
        transition: .2s;

        button {
            @include button-blue();
            margin: 2rem auto;
            padding: .375rem 25% !important;
        }

        &:hover {
            background-color: color(myblue);
            color: color(mygray);
            transform: scale(1.05);
            z-index: 1;

            .card-header {
                background-color: #00000000;
                color: color(mygray);
            }

            button {
                background-color: color(mygray) !important;
                border-color: color(mygray);
                color: color(myblue);
            }
        }
    }
}

.card-header {
    align-items: center;
    background-color: #00000000;
    border: 0;
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: center;
    margin: 1rem auto;
    padding: 0 1.25rem;

    i {
        bottom: 2px;
        font-size: 1em;
        margin-right: .5rem;
        position: relative;
    }

    div {
        font-size: .9rem;
        font-weight: 500;
    }

    span {
        font-size: 3.3em;
        font-weight: 800;
        line-height: 1;
    }

    &.plan-3 {
        position: relative;
        top: 10px;
    }
}

.card-body {
    border: 0;

    li {
        padding-left: .5em;
        padding-right: 2em;
        text-align: center;

        @include tablet {
            font-weight: 500;
            text-align: left;
        }

        i {
            font-size: 1.5em;
            padding-right: 1em;
            position: relative;
            top: 3px;

            @include tablet {
                padding-right: 1.5em;
            }
        }

        hr {
            margin: .5rem 0;
        }
    }
}
