
// SECTION: Get in touch

#getintouch {

    @include tablet {
        position: relative;
    }

    .background-map {
        background-image: url('../images/backgrounds/map-lg.png');
        background-position: center left;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;

        @include tablet {
            height: 500px;
        }

        @include desktop {
            height: 660px;
        }
    }

    .contact-info {
        padding: 0 15%;

        @include tablet {
            background-color: #fff;
            max-width: 350px;
            padding: 1.5rem;
            position: absolute;
            right: 0;
            transform: translate(-20%, 7%);
            width: 40%;
        }

        @include desktop {
            max-width: 400px;
            padding: 1rem 3rem 2rem 3rem;
            transform: translate(-30%, 35%);
        }

        h1 {
            @include tablet {
                padding: 1rem 0 0 0;
                text-align: left;
            }
        }

        ul {
            li {
                line-height: 2;
            }

            i {
                margin-left: .1rem;
                margin-right: 1rem;
            }
        }
    }
}
