* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: #3d88b5;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #3d88b5;
  text-decoration: none;
}

.btn {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0;
  font-weight: 500;
  padding: .375rem 1.5rem;
  text-transform: uppercase;
}

.btn-myblue {
  background: #3d88b5;
  color: #e8eff7;
  border-color: #3d88b5;
}

.btn-myblue:hover {
  background: #3d88b5;
  color: #e8eff7;
  border-color: #3d88b5;
}

.btn-xs {
  border-radius: 3px;
  font-size: .9rem;
  padding: .2em;
  width: 110px;
}

h1 {
  font-size: 2.5rem;
  padding: 1em 0 .5em;
  text-align: center;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.9rem;
    padding: 1.2em 0 1em;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 3.3rem;
    padding: 1em 0;
  }
}

h3 {
  font-size: 1.4rem;
  padding: 1em 0;
  text-align: center;
}

@media (min-width: 768px) {
  h3 {
    font-size: 1.9rem;
  }
}

@media (min-width: 992px) {
  h3 {
    font-size: 2rem;
  }
}

h4 {
  margin: 2rem 0 0;
  text-align: left;
}

@media (min-width: 576px) {
  h4 {
    margin-top: .5rem;
  }
}

h5 {
  font-size: 1.3rem;
  padding: .5em 0;
  text-align: center;
}

@media (min-width: 768px) {
  h5 {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  h5 {
    font-size: 1.8rem;
  }
}

p {
  font-size: .9rem;
  padding: 0;
  text-align: left;
}

@media (min-width: 768px) {
  p {
    font-size: 1rem;
    padding: .5em 0;
  }
}

blockquote {
  font-size: 1.2rem;
  margin: 0;
  padding: 1em 0;
  text-align: left;
}

@media (min-width: 768px) {
  blockquote {
    font-size: 1.4rem;
  }
}

@media (min-width: 992px) {
  blockquote {
    font-size: 1.5rem;
  }
}

.lead {
  font-size: .9rem;
  font-weight: 500;
  padding: .5em 0;
  text-align: left;
}

@media (min-width: 768px) {
  .lead {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .lead {
    font-size: 1rem;
  }
}

.smaller {
  font-size: 90%;
  font-weight: 300;
}

nav .navbar-brand img {
  margin-left: -35px;
}

nav .navbar-text {
  display: none;
  font-size: .85em;
  font-weight: 600;
  margin-right: 6.3rem;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  nav .navbar-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

nav .navbar-text i {
  font-size: 1.5em;
  margin-right: 1rem;
  margin-top: .05rem;
}

header {
  background: #e8eff7;
  color: #3d88b5;
  border-bottom: 2px solid #e8eff7;
  height: 400px;
  overflow: hidden;
}

@media (min-width: 576px) {
  header {
    height: 480px;
  }
}

@media (min-width: 768px) {
  header {
    height: 600px;
  }
}

@media (min-width: 992px) {
  header {
    height: 750px;
  }
}

@media (min-width: 1200px) {
  header {
    height: 850px;
  }
}

header .jumbotron {
  background: transparent;
}

header .jumbotron h1 {
  font-size: 2.4em;
  padding: 0;
}

@media (min-width: 992px) {
  header .jumbotron h1 {
    font-size: 4em;
  }
}

header .jumbotron p {
  font-size: .7em;
  font-weight: 600;
  padding: 0;
  text-align: center;
}

@media (min-width: 992px) {
  header .jumbotron p {
    font-size: 1.3em;
  }
}

header .jumbotron img {
  margin-top: .8rem;
  width: 90%;
}

@media (min-width: 768px) {
  header .jumbotron img {
    margin-top: 3rem;
  }
}

#announcement {
  background: #fff;
  color: #3d88b5;
  border-bottom: 2px solid #e8eff7;
}

#announcement .jumbotron {
  background: transparent;
  margin-bottom: 0;
  text-align: center;
}

@media (min-width: 992px) {
  #announcement .jumbotron .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#announcement .jumbotron h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0;
  padding: 0 1rem;
}

@media (min-width: 992px) {
  #announcement .jumbotron h1 {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    font-size: 2rem;
    text-align: right;
  }
}

#announcement .jumbotron i {
  font-size: 2.5rem;
  margin: 1rem 0;
}

@media (min-width: 992px) {
  #announcement .jumbotron i {
    display: none;
  }
}

#announcement .jumbotron p {
  padding: 0 1rem;
  text-align: center;
}

@media (min-width: 992px) {
  #announcement .jumbotron p {
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
    margin-top: .3rem;
    text-align: left;
  }
}

#howitworks {
  border-bottom: 2px solid #e8eff7;
  background: #fff;
  color: #3d88b5;
  padding-bottom: 2rem;
  text-align: center;
}

@media (min-width: 992px) {
  #howitworks {
    padding-bottom: 3.5rem;
    padding-top: 2rem;
  }
}

#howitworks .showcase-video img {
  margin-bottom: 2.5rem;
  margin-top: 1rem;
  width: 50%;
}

@media (min-width: 992px) {
  #howitworks .showcase-video img {
    margin-bottom: 4rem;
  }
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 1rem 0 0;
  width: 75%;
}

@media (min-width: 768px) {
  .steps {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.steps .single-step {
  margin-bottom: 1rem;
  text-align: center;
}

@media (min-width: 992px) {
  .steps .single-step {
    margin-bottom: 1.5rem;
    width: 25%;
  }
}

.steps .single-step img {
  margin-bottom: .7rem;
  max-width: 80px;
}

@media (min-width: 768px) {
  .steps .single-step img {
    max-width: 100px;
  }
}

.steps .single-step h5 {
  text-transform: uppercase;
}

.steps .single-step p {
  text-align: center;
}

.steps i {
  display: none;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .steps i {
    display: block;
  }
}

#benefits {
  border-bottom: 2px solid #e8eff7;
  background: #fff;
  color: #3d88b5;
  padding-bottom: 2rem;
  text-align: center;
}

@media (min-width: 992px) {
  #benefits {
    padding-bottom: 3.5rem;
    padding-top: 2rem;
  }
}

#benefits .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

@media (min-width: 768px) {
  #benefits .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 992px) {
  #benefits .container {
    max-width: 940px;
  }
}

#benefits .container .benefit {
  padding: .4rem;
  width: 100%;
}

@media (min-width: 768px) {
  #benefits .container .benefit {
    margin-bottom: 2rem;
    padding: 1rem;
  }
}

#benefits .container h3 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (min-width: 768px) {
  #benefits .container h3 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: right;
  }
}

#benefits .container img {
  margin-bottom: .7rem;
  max-height: 200px;
  max-width: 200px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 768px) {
  #benefits .container img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

#benefits .container p {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  text-align: center;
}

@media (min-width: 768px) {
  #benefits .container p {
    text-align: left;
  }
}

#features {
  border-bottom: 2px solid #e8eff7;
  background: #fff;
  color: #3d88b5;
  padding-bottom: 2rem;
  background: transparent;
}

@media (min-width: 992px) {
  #features {
    padding-bottom: 3.5rem;
    padding-top: 2rem;
  }
}

@media (min-width: 992px) {
  #features .feat-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 992px) {
  #features .feat-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (min-width: 992px) {
  .features-left {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    margin-top: 2rem;
  }
}

.features-left .feat-list {
  display: block;
}

@media (min-width: 768px) {
  .features-left .feat-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 992px) {
  .features-left .feat-list {
    padding-left: 2rem;
  }
}

.single-feat {
  margin: 2rem 0 3rem;
  padding: 0 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .single-feat {
    margin: .5rem 0;
    width: 40%;
  }
}

@media (min-width: 992px) {
  .single-feat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .single-feat {
    width: 45%;
  }
}

.single-feat .feat-img img {
  width: 80px;
}

@media (min-width: 768px) {
  .single-feat .feat-img img {
    width: 90px;
  }
}

@media (min-width: 992px) {
  .single-feat .feat-img img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: .5rem;
    margin-top: 1rem;
    max-height: 50px;
    max-width: 50px;
  }
}

@media (min-width: 992px) {
  .single-feat .feat-text {
    padding-left: 2rem;
  }
}

.single-feat .feat-text h5 {
  padding-bottom: 0;
  text-align: center;
}

@media (min-width: 992px) {
  .single-feat .feat-text h5 {
    text-align: left;
  }
}

.single-feat .feat-text p {
  text-align: center;
}

@media (min-width: 992px) {
  .single-feat .feat-text p {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .features-right {
    background-image: url("../images/backgrounds/screen.png");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 5rem 0 0;
    z-index: -1;
  }
}

#section-6 {
  border-bottom: 2px solid #e8eff7;
  background: #fff;
  color: #3d88b5;
  padding-bottom: 2rem;
}

@media (min-width: 992px) {
  #section-6 {
    padding-bottom: 3.5rem;
    padding-top: 2rem;
  }
}

@media (min-width: 992px) {
  #section-6 h1 {
    padding-bottom: 1rem;
  }
}

#section-6 .carousel-inner {
  display: block;
  margin: 2rem auto 0;
  max-width: 900px;
}

@media (min-width: 576px) {
  #section-6 .carousel-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#section-6 .carousel-inner .carousel-item {
  padding: 0 .5rem;
}

#section-6 .carousel-inner .carousel-item .container-testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 850px;
}

@media (min-width: 576px) {
  #section-6 .carousel-inner .carousel-item .container-testimonials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.carousel-caption {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  height: auto;
  margin: 0 auto;
  max-width: 400px;
  min-width: 300px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 1.5rem 3.6rem;
  position: static;
}

@media (min-width: 576px) {
  .carousel-caption {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 1.6rem 0 1.6rem 1.6rem;
  }
}

@media (min-width: 768px) {
  .carousel-caption {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    max-width: 600px;
    padding: 3.3rem 1rem 1rem 4rem;
  }
}

@media (min-width: 992px) {
  .carousel-caption {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
}

@media (min-width: 576px) {
  .carousel-caption .testimonials-quote {
    text-align: left;
  }
}

.carousel-caption .testimonials-quote i {
  color: #e8eff7;
  font-size: 2rem;
  margin-right: .5rem;
}

@media (min-width: 768px) {
  .carousel-caption .testimonials-quote i {
    font-size: 4rem;
  }
}

@media (min-width: 992px) {
  .carousel-caption .testimonials-quote i {
    font-size: 4.5rem;
  }
}

.carousel-caption .testimonials-quote blockquote {
  color: #3d88b5;
  display: inline;
  font-style: italic;
}

@media (min-width: 768px) {
  .carousel-caption .testimonials-quote blockquote {
    display: block;
    padding-top: 0;
  }
}

@media (min-width: 576px) {
  .carousel-caption .testimonials-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 1rem;
  }
}

@media (min-width: 768px) {
  .carousel-caption .testimonials-bottom {
    padding-top: .5rem;
  }
}

.carousel-caption .testimonials-bottom .quote-author h4 {
  color: #3d88b5;
}

.carousel-caption .testimonials-bottom .quote-author p {
  color: #cbdfeb;
}

.carousel-commands {
  display: none;
  padding-right: .8rem;
}

@media (min-width: 768px) {
  .carousel-commands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 992px) {
  .carousel-commands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.carousel-commands .carousel-control-prev,
.carousel-commands .carousel-control-next {
  opacity: 1;
  position: static;
  text-align: center;
  -webkit-transition: opacity .15s ease;
  transition: opacity .15s ease;
}

.carousel-commands .carousel-control-prev:hover,
.carousel-commands .carousel-control-next:hover {
  opacity: 1;
  outline: 0;
}

.carousel-commands .carousel-control-prev i,
.carousel-commands .carousel-control-next i {
  border: 1px solid #3d88b5;
  color: #3d88b5;
  font-size: 1.5rem;
  padding: .5rem .8rem;
}

@media (min-width: 768px) {
  .carousel-commands .carousel-control-prev i,
  .carousel-commands .carousel-control-next i {
    font-size: 1.3rem;
    padding: .4rem .5rem .1rem;
  }
}

@media (min-width: 992px) {
  .carousel-commands .carousel-control-prev i,
  .carousel-commands .carousel-control-next i {
    font-size: 1.5rem;
    padding: .5rem .8rem;
  }
}

.testimonials-right {
  margin: 0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-align: center;
}

@media (min-width: 576px) {
  .testimonials-right {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.testimonials-right img {
  height: auto;
  max-width: 300px;
}

@media (min-width: 576px) {
  .testimonials-right img {
    position: relative;
    top: 40px;
    width: 90%;
  }
}

@media (min-width: 768px) {
  .testimonials-right img {
    margin-right: 3rem;
    max-width: 300px;
    top: 25%;
    width: 80%;
  }
}

@media (min-width: 992px) {
  .testimonials-right img {
    top: 29%;
    width: 100%;
  }
}

#section-news {
  border-bottom: 2px solid #e8eff7;
  background: #fff;
  color: #3d88b5;
  padding-bottom: 2rem;
}

@media (min-width: 992px) {
  #section-news {
    padding-bottom: 3.5rem;
    padding-top: 2rem;
  }
}

#section-news .news-cards {
  margin: 1.5rem auto;
  padding: 0 3rem;
}

@media (min-width: 768px) {
  #section-news .news-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0 1rem;
  }
}

.single-news {
  padding-top: 1rem;
  text-align: center;
}

@media (min-width: 576px) {
  .single-news {
    padding: 1rem 3rem;
  }
}

@media (min-width: 768px) {
  .single-news {
    padding: 0 1rem;
    width: 30%;
  }
}

.single-news img {
  margin: 0 auto;
  width: 35%;
}

@media (min-width: 768px) {
  .single-news img {
    width: 60%;
  }
}

@media (min-width: 992px) {
  .single-news img {
    width: 50%;
  }
}

.single-news p {
  font-style: italic;
  text-align: center;
}

#section-plans {
  border-bottom: 2px solid #e8eff7;
  background: #fff;
  color: #3d88b5;
  padding-bottom: 2rem;
}

@media (min-width: 992px) {
  #section-plans {
    padding-bottom: 3.5rem;
    padding-top: 2rem;
  }
}

#section-plans .container {
  margin: 2em auto;
}

#section-plans .card {
  border: 2px solid #3d88b5;
  border-radius: 0;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-bottom: 2.5rem;
  -webkit-transition: .2s;
  transition: .2s;
}

#section-plans .card button {
  margin: 2rem auto;
  padding: .375rem 25%;
}

#section-plans .card:hover {
  background: #3d88b5;
  color: #e8eff7;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  z-index: 1;
}

#section-plans .card:hover button {
  background: #e8eff7;
  color: #3d88b5;
  border-color: #e8eff7;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 768px) {
  #section-plans .card {
    margin-left: 0;
    margin-right: 0;
  }
}

.card-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00000000;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem auto;
  padding: 0 1.25rem;
}

.card-header i {
  bottom: 2px;
  font-size: 1em;
  margin-right: .5rem;
  position: relative;
}

.card-header div {
  font-size: .9rem;
  font-weight: 500;
}

.card-header span {
  font-size: 3.3em;
  font-weight: 800;
  line-height: 1;
}

.card-header.plan-3 {
  position: relative;
  top: 10px;
}

.card-body {
  border: 0;
}

.card-body li {
  padding-left: .5em;
  padding-right: 2em;
  text-align: center;
}

@media (min-width: 768px) {
  .card-body li {
    font-weight: 500;
    text-align: left;
  }
}

.card-body li i {
  font-size: 1.5em;
  padding-right: 1em;
  position: relative;
  top: 3px;
}

@media (min-width: 768px) {
  .card-body li i {
    padding-right: 1.5em;
  }
}

.card-body li hr {
  margin: .5rem 0;
}

@media (min-width: 768px) {
  #getintouch {
    position: relative;
  }
}

#getintouch .background-map {
  background-image: url("../images/backgrounds/map-lg.png");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

@media (min-width: 768px) {
  #getintouch .background-map {
    height: 500px;
  }
}

@media (min-width: 992px) {
  #getintouch .background-map {
    height: 660px;
  }
}

#getintouch .contact-info {
  padding: 0 15%;
  background: #fff;
  color: #3d88b5;
}

@media (min-width: 768px) {
  #getintouch .contact-info {
    max-width: 350px;
    padding: 1.5rem;
    position: absolute;
    right: 0;
    -webkit-transform: translate(-20%, 7%);
            transform: translate(-20%, 7%);
    width: 40%;
  }
}

@media (min-width: 992px) {
  #getintouch .contact-info {
    max-width: 400px;
    padding: 1rem 3rem 2rem;
    -webkit-transform: translate(-30%, 35%);
            transform: translate(-30%, 35%);
  }
}

@media (min-width: 768px) {
  #getintouch .contact-info h1 {
    padding: 1rem 0 0;
    text-align: left;
  }
}

#getintouch .contact-info ul li {
  line-height: 2;
}

#getintouch .contact-info ul i {
  margin-left: .1rem;
  margin-right: 1rem;
}

footer {
  background: #3d88b5;
  color: #e8eff7;
}

footer .top-footer {
  padding-top: 1rem;
  text-align: center;
}

footer .top-footer .footer-text {
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  footer .top-footer .footer-text {
    min-width: 500px;
    max-width: 50%;
  }
}

footer .top-footer img {
  background-color: #3d88b5;
  padding: 1rem 0;
  width: 150px;
}

footer .top-footer p {
  color: #e8eff7;
  padding-bottom: 2rem;
  text-align: center;
}

.input-group {
  margin: 0 auto;
  max-width: 350px;
  position: relative;
}

.input-group .form-control {
  border: 1px solid #3d88b5;
  border-radius: 0;
  font-style: italic;
}

.input-group .btn-position {
  bottom: 4px;
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: 10;
}

.social-media-icons {
  font-size: .8rem;
  padding: 2rem 0 1rem;
}

.social-media-icons .icon-background {
  color: #fff;
}

.footer-copyright {
  background: #155679;
  color: #e8eff7;
}
/*# sourceMappingURL=custom.css.map */